<md-toolbar>
  <button md-icon-button
          (click)="router.navigateByUrl('/home')"
          class="menu-button">
    <i-home class="feather-icon-button"></i-home>
  </button>

  <span class="flex-fill-space"></span>

  <button md-button
          (click)="router.navigateByUrl('/home')"
          class="center">
    <md-icon>whatshot</md-icon>
  </button>

  <span class="flex-fill-space"></span>

  <button md-icon-button
          (click)="router.navigateByUrl('/home')"
          class="menu-button">
    <i-home class="feather-icon-button"></i-home>
  </button>
</md-toolbar>

