<article>
  <header>
    <h1>Our Playlist</h1>
    <p>Want to hear a song at the reception? Click the search button to put your song on the list!</p>
  </header>
  <md-list>
    <md-list-item *ngFor="let song of allSongs | async">
      <img mdListAvatar
          [src]="song.imageUrl"
          class="mat-elevation-z1"
          alt="{{ song.artist }} - {{ song.name }}">
      <h3 mdLine> {{ song.name }} </h3>
      <p mdLine>
        <span> {{ song.artist }} </span>
      </p>
    </md-list-item>
  </md-list>
</article>