@import '~scss/_settings.colors.scss';
@import '~scss/_tools.gradients.scss';
@import '~scss/_tools.aspect-ratio.scss';

:host {
    height: 100%;
    background: $white-background;

    .swiper-slide {
        cursor: pointer;
        pointer-events: all;
        height: 56.25vw;
        width: 100%;
        top: 0;
        padding: 0 0 0 0;
        overflow: hidden;
        // @include aspect-ratio(16 9);
        /*height: 150px;
        width: 200px;
        overflow: hidden;*/

        // height: 180px;

        .background-image {
            pointer-events: none;

            .image-wrap {

                /*.image {
                    z-index: 0;
                    position: absolute;
                    top: 50%; left: 50%;
                    transform: translate(-50%, -50%);
                    // width: 216px;
                }*/
            }
        }

        .image-overlay {
            position: absolute;
            bottom: 0; left: 0;
            width: 100%; height: 56.25%;
            @include scrimGradient('to top', #000, 0.6);
        }
        
        md-card-title {
            position: absolute;
            bottom: 0; left: 0;
            color: white;
            padding: 16px;
        }
    }
    .gradient-overlay {
        z-index: 3;
        pointer-events: none;
        position: absolute;
        top: 0; left: 0;
        height: 168px; width: 100%;
        @include scrimGradient('to bottom', #000, 0.5);
    }

    .map-detail-content {
        max-width: 480px;
        margin: 0 auto;
        padding: 16px;
        color: $text-color;

        md-list {
            margin-bottom: 24px;
        }

        .ride-button {
            width: 100%;
            color: rgba(255,255,255,1);
            border-radius: 4px;
            padding: 8px;
            margin-bottom: 16px;

            &.lyft {
                background-color: #FF00BF;
            }

            &.uber {
                background-color: #000;
            }

            img {
                height: 24px;
                margin-right: 16px;
            }
        }

        agm-map {
            height: 320px;
        }
    }
}
