<div class="blur-wrap">
  <div class="splash-blur"></div>
</div>
<article>
  <header>
    <h1>It's a Match!</h1>
  </header>
  <main>
    <p class="mat-subheading-1">Britni and Jonathan have liked each other.</p>
    <div class="splash-images">
      <img src="https://scontent-atl3-1.xx.fbcdn.net/v/t31.0-8/18955106_10158925463980571_7997007422702891285_o.jpg?oh=cd80195047f8a28e004cbfe83275292b&oe=5A55270C">
      <img src="https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-9/12417864_10103067470306829_2390468137208665565_n.jpg?oh=fd2fd0f94c2c60c69da0b5a8664434d7&oe=5A4A5A6F">
    </div>
  </main>
  <footer>
    <a md-button
       class="splash-button"
       routerLink="/swipe">
       <md-icon>whatshot</md-icon>
       <span>Keep Playing</span>
    </a>
  </footer>
</article>