<div class="blur-wrap">
  <div class="splash-blur"></div>
</div>
<article>
  <header>
    <h1>It's a Match!</h1>
  </header>
  <main>
    <p class="mat-subheading-1">Britni and Jonathan have liked each other.</p>
    <div class="splash-images">
      <img src="/assets/images/britni.jpg">
      <img src="/assets/images/jonathan.jpg">
    </div>
  </main>
  <footer>
    <a md-button
       class="splash-button"
       routerLink="/swipe">
       <md-icon>whatshot</md-icon>
       <span>Keep Playing</span>
    </a>
  </footer>
</article>