@import '~scss/_tools.gradients.scss';

$card-height: calc(100vh - 264px);




:host {
    
}

ul {
    position: relative;
    list-style: none;
    height: $card-height;
    width: 100%;
    padding: 0;

    li {
        position: absolute;
        top: 0; left: 8px;
        width: calc(100% - 16px);
        height: $card-height;

        md-card {
            position: relative;
            margin: 0 auto;
            max-width: 480px;
            height: $card-height;
            border-radius: 4px;
            overflow: hidden;
            cursor: pointer;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;

            img {
                position: absolute;
                top: 50%; left: 50%;
                transform: translate(-50%,-50%);
                pointer-events: none;
                min-width: 100%;
                min-height: 100%;
            }

            .image-overlay {
                position: absolute;
                bottom: 0; left: 0;
                width: 100%; height: 50%;
                @include scrimGradient('to top', #000, 0.6);
            }

            md-card-content {
                position: absolute;
                bottom: 0; left: 0;
                padding: 24px;
                color: white;
            }
        }
    }
}

.button-wrap {
    margin: 64px auto;
    max-width: 480px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .like-button {
        background-color: white;

        md-icon {
            background: #0cebeb;  /* fallback for old browsers */
            background: -webkit-linear-gradient(45deg, #29ffc6, #20e3b2, #0cebeb);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(45deg, #29ffc6, #20e3b2, #0cebeb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        &.refresh {
            md-icon {
                background: #e65c00;  /* fallback for old browsers */
                background: -webkit-linear-gradient(45deg, #F9D423, #e65c00);  /* Chrome 10-25, Safari 5.1-6 */
                background: linear-gradient(45deg, #F9D423, #e65c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */                
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        &.close {
            md-icon {
                background: #ee0979;  /* fallback for old browsers */
                background: -webkit-linear-gradient(45deg, #ff6a00, #ee0979);  /* Chrome 10-25, Safari 5.1-6 */
                background: linear-gradient(45deg, #ff6a00, #ee0979); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;         
            }
        }

        &.star {
            md-icon {
                background: #00c6ff;  /* fallback for old browsers */
                background: -webkit-linear-gradient(45deg, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
                background: linear-gradient(45deg, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */                
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;         
            }
        }

        &.flash {
            md-icon {
                background: #7F00FF;  /* fallback for old browsers */
                background: -webkit-linear-gradient(45deg, #E100FF, #7F00FF);  /* Chrome 10-25, Safari 5.1-6 */
                background: linear-gradient(45deg, #E100FF, #7F00FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */                             
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;         
            }
        }
    }
}